<% provide(:title, "About") %>
<h1>About</h1>
<p>
	The <a href="#"><em>Taste Project</em></a> is a development in order to explore the Roby on Rails world.
	This is a <a href="#"><em>YeinerCQ</em></a> development.
</p>
