<footer class="footer">
	<small>
		The <a href="#">Taste Project</a> by <a href="#"><em>YeinerCQ</em></a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>